<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prj_blood_donation_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Blood Saviour"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prj_Blood_Donation_App">
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".SentEmailActivity"
            android:exported="false" />
        <activity
            android:name=".CategorySelectedActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RecipientRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".DonorRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".SelectRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>